.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background-image: url('../assets/images/vancouver-stanley-park.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.weather-card {
    background-color: rgba(12, 53, 62, 0.6);
    color: lightblue;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;

    &__title {
        font-size: 24px;
        margin-bottom: 20px;
        color: white;
    }

    &__city {
        font-size: 20px;
        margin-bottom: 20px;
        color: lightgreen;
    }

    &__temperature {
        font-size: 18px;
        margin: 10px 0;
        color: white
    }
}